.song-page {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 4px 23px 0px #ccc;
    height: 400px;
    margin: 48px auto;
    padding: 24px;
    width: 400px;

    &--title {
        border-bottom: 1px solid #ccc;
        font-size: 24px;
        margin-bottom: 8px;
        padding-bottom: 16px;
        text-align: center;
    }

    &--artist {
        text-align: center;
    }

    &--stream-count {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 180px;
        font-weight: 700;
        color: #ccc;
    }
}