.song {
    border-bottom: 1px solid #808080;
    display: flex;
    padding: 6px 0;

    &__rank {
        flex: 0 0 100px;
        display: flex;
        flex-direction: column;

        &--num {
            font-size: 40px;
            font-weight: 700;
        }

        &--stream-count {
            font-size: 10px;
            margin-top: -12px;
        }
    }

    &__info {
        flex: 1 0 auto;

        &--title {
            font-size: 18px;
            font-weight: 700;
        }

        &--artist {
            font-style: italic;
        }

        &--pub-date {
            font-size: 12px;
            text-align: right;
        }
    }
}