<%- include( '../partials/header', { title: title }) %>
<div class='main'>
    <ol>
        <% songs.forEach(song => { %>
            <%- include('../partials/song', { song: song }) %>
        <% }); %>
    </ol>
</div>
<%- include( '../partials/footer') %>