<%- include( '../partials/header') %>
<div class='main four-oh-four'>
    <h2 class='title'>404</h2>
    <p class='subtitle'>Looks we've got nothing at <%= path %></p>
</div>
<%- include( '../partials/footer') %>